{% if articles.count > 0 %}
{% for article in articles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django - Articles</title>
</head>
<body>
    <div class="article">
        <h2><a href="/article/{{ article.id }}/">{{ article.title }}</a></h2>
        <div class="article-info">
            Published: {{ article.published }}
        </div>
        <div class="article-intro">
            <p>{{ article.content }}</p>
        </div>
        <a class = "btn btn-inverse art-more" href="/article/{{ article.id }}/">See more</a>
    </div>
</body>
</html>

{% endfor %}
{% else %}
<p>There is not articles</p>
{% endif %}